@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: rgb(0, 0, 56);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;

}
section#Login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#Login > div#imagem {
    background-image: url(imagens/foto1.jpg);
    height: 200px;
    background-size: cover;
    display: block;
}
section#Login > div#formulario {
    display: block;
    padding: 10px;

}
div#formulario >h1 {
    text-align: center;
    padding: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 46, 46);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
form > input[type="submit"]:hover {
    background-color:  rgb(0, 100, 62);
}
form > a.botao {
    display: block;
    text-align: right;
    font-size: 0.6em;
    text-decoration: none;
    color: rgb(0, 102, 102);
}
form > div.campo {
    background-color: rgba(1, 2, 56, 0.651);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;

}
form > input[type="text"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(100, 0, 0);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;

}
form > input[type="text"]:hover {
    background-color: rgb(255, 0, 0);
    
}
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
} 
div.campo > input {
    background-color: white;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-41px);
}